        <%= simple_form_for(@refuge) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <div class="row">
            <div class="form-group col-sm-4 col-xs-12" id="form-refuge">
              <%= f.input :name %>
            </div>
            <div class="col-sm-2"></div>
            <div class="form-group col-sm-4 col-xs-12" id="form-refuge">
              <%= f.input :department %>
            </div>
            <div class="form-group col-sm-4 col-xs-12" id="form-refuge">
              <%= f.input :address %>
            </div>
            <div class="col-sm-2"></div>
            <div class="form-group col-sm-4 col-xs-12" id="form-refuge">
               <%= f.input :day_price %>
            </div>
            <div class="form-group col-sm-4 col-xs-12" id="form-refuge">
              <%= f.input :capacity %>
            </div>
            <div class="col-sm-2"></div>
            <div class="form-group col-sm-4 col-xs-12" id="form-refuge">
              <%= f.input :altitude %>
            </div>
            <div class="form-group col-sm-4 col-xs-12" id="form-refuge">
              <%= f.input :range %>
            </div>
             <div class="col-sm-2"></div>
            <div class="form-group col-sm-4 col-xs-12" id="form-refuge">
              <%= f.input :description %>
            </div><br><br>
          </div>
          <div class="form-actions" id="create">
              <%= f.input :photo %>
              <%= f.input :photo_cache, as: :hidden %><br><br>
              <div id="refuge_cond"> <input type="checkbox" > I have read and accept the terms and conditions<br></div>
              <p></p>
              <%= f.button :submit %>
            </div>
      </div>
    <% end %>





