
<p id="notice"><%= notice %></p>

<section class="darkSection">
  <div class="container">
    <div class="row gridResize">
      <form action="<%=refuges_path %>" class="">
        <div class="col-sm-3 col-xs-12">
          <div class="sectionTitleDouble">
            <p>Find</p>
            <h2>your <span>shelter</span></h2>
          </div>
        </div>
        <div class="col-sm-7 col-xs-12">
          <div class="row">
            <div class="col-sm-6 col-xs-12">
              <div class="searchTour">
                <select name="guiest_id2" id="guiest_id2" class="select-drop">
                  <option value="0">Mountain Range</option>
                  <option value="1">Alpes</option>
                  <option value="2">Pyrenees</option>
                  <option value="3">Vosges</option>
                </select>
              </div>
            </div>
            <div class="col-sm-6 col-xs-12">
              <div class="input-group date ed-datepicker">
                <%= form_tag url_for(action: 'index', controller: 'refuges'), :id => 'search', :method => :get do %>
                <%= text_field_tag :search, params[:search], placeholder: "LOCATION"%>
              <div class="input-group-addon">
                <span class="fa fa-search"></span>
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-2 col-xs-12">
          <%= submit_tag "Search Shelter", :address => nil, class: "btn btn-success" %>
          <% end %>
        </div>
      </form>
    </div>
  </div>
</section>


<section class="mainContentSection packagesSection">
  <div class="container">
    <div class="row">
      <% @refuges.each do |refuge| %>
      <div class="col-sm-4 col-xs-12">
        <div class="thumbnail deals">
        <%= cl_image_tag(refuge.photo,
      width: 400, height: 300, crop: :fill) %>
          <div class="discountInfo">
            <ul class="list-inline rating homePage">
            <% i = 0 %>
            <% ratingtotal = 0 %>
            <% refuge.reviews.each do |r| %>
            <% i += 1 %>
            <% ratingtotal += r.rating if r.rating != nil %>
            <% end %>
            <% i = ratingtotal / i if i != 0 %>
            <% i.to_i.times do %>
            <i class="fa fa-star" aria-hidden="true"></i>
            <% end %>
            <% (5 - i.to_i).times do %>
            <i class="fa fa-star-o " aria-hidden="true"></i>
            <% end %>
            </ul>
            <ul class="list-inline duration">
              <li><%= refuge.altitude %>meters</li>
              <li><%= refuge.capacity %>people</li>
              <li><%= refuge.day_price %> €</li>
            </ul>
          </div>
          <div class="caption">
            <h4><a href="single-package-right-sidebar.html" class="captionTitle"><%= refuge.name %></a></h4>
            <h5><%= refuge.address %></h5>
            <div class="detailsInfo">
              <br>
               <%= link_to 'More Info', refuge, :class => "btn btn-primary btn"%>
            </div>
          </div>
        </div>
      </div>
      <%end%>
    </div>
  </div>
  <div class="text-center padded">
  <h1>// BECOME HOST \\</h1><br>
    <%= link_to 'Add your Shelter', new_refuge_path , :class => "btn btn-primary large" %>
  </div>
</section>

<div id="map" style="width: 100%; height: 600px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      var handler = Gmaps.build('Google');
      handler.buildMap( { provider: { scrollwheel: false }, internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>


