<section class="mainContentSection packagesSection">
  <div class="container">
    <div class="row">
      <% @refuges.each do |refuge| %>
      <div class="col-sm-4 col-xs-12">
        <div class="thumbnail deals">
        <%= cl_image_tag(refuge.photo,
      width: 400, height: 300, crop: :fill) %>
          <a href="single-package-right-sidebar.html" class="pageLink"></a>
          <div class="discountInfo">
            <ul class="list-inline rating homePage">
            <% i = 0 %>
            <% ratingtotal = 0 %>
            <% refuge.reviews.each do |r| %>
            <% i += 1 %>
            <% ratingtotal += r.rating if r.rating != nil %>
            <% end %>
            <% i = ratingtotal / i if i != 0 %>
            <% i.to_i.times do %>
            <i class="fa fa-star" aria-hidden="true"></i>
            <% end %>
            <% (5 - i.to_i).times do %>
            <i class="fa fa-star-o " aria-hidden="true"></i>
            <% end %>
            </ul>
            <ul class="list-inline duration">
              <li><%= refuge.altitude %>meters</li>
              <li><%= refuge.capacity %>people</li>
              <li><%= refuge.price %>€</li>
            </ul>
          </div>
          <div class="caption">
            <h4><a href="single-package-right-sidebar.html" class="captionTitle"><%= refuge.name %></a></h4>
            <h5><%= refuge.address %></h5>
            <div class="detailsInfo">
              <br>
               <%= link_to 'More Info', refuge, :class => "btn btn-primary btn"%>
            </div>
          </div>
          <% if current_user %>
            <% if policy(refuge).edit? %>
              <td><%= link_to 'Edit', edit_refuge_path(refuge), class: "btn btn-success" %></td>
            <% end %>
            <% if policy(refuge).destroy? %>
              <td><%= link_to 'Destroy', refuge, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          <%else %>
          <%end%>
        </div>
      </div>
      <%end%>
    </div>
  </div>
  <div class="text-center padded">
  <h1>// BECOME HOST \\</h1><br>
    <%= link_to 'Add a Shelter', new_refuge_path , :class => "btn btn-primary large" %>
  </div>
</section>
