<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @refuge.name %>
</p>

<p>
  <strong>Picture:</strong>
 <%= cl_image_tag @refuge.photo, height: 300, width: 400, crop: :fill %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @refuge.capacity %>
</p>

<p>
  <strong>Address:</strong>
  <%= @refuge.address %>
</p>

<p>
  <strong>Day price:</strong>
  <%= @refuge.day_price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @refuge.description %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @refuge.latitude %>
</p>

<p>
  <strong>Lon:</strong>
  <%= @refuge.longitude %>
</p>

<p>
  <strong>Altitude:</strong>
  <%= @refuge.altitude %>
</p>

<p>
  <strong>Range:</strong>
  <%= @refuge.range %>
</p>

<p>
  <strong>Department:</strong>
  <%= @refuge.department %>
</p>

<%= link_to 'Edit', edit_refuge_path(@refuge) %> |
<%= link_to 'Back', refuges_path %>
<%= simple_form_for [@refuge, @booking] do |f| %>
<%= f.input :start_day %>
<%= f.input :end_day %>
<%= f.input :hikers_nb %>
<%= f.submit "Book it", :class => "btn btn-primary" %>
<%end%>


<div id="map" style="width: 100%; height: 600px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      var handler = Gmaps.build('Google');
      handler.buildMap( { provider: { scrollwheel: false }, internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>



