<section class="mainContentSection singlePackage">
  <div class="container">
    <div class="row countryTitle">
      <div class="col-sm-6 col-xs-12 ">
        <div id="package-carousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#package-carousel" data-slide-to="2" class="active"></li>
          </ol>
          <div class="carousel-inner">
            <div class="item active">
              <%= cl_image_tag @refuge.photo, crop: :fill %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xs-12 description_refuge">
        <aside>
          <div class="weatherInfo">
           <div class="main-info">
            <h2> <%= @refuge.name %> </h2>
            <% i = 0 %>
            <% ratingtotal = 0 %>
            <% @refuge.reviews.each do |r| %>
            <% i += 1 %>
            <% ratingtotal += r.rating if r.rating != nil %>
            <% end %>
            <% i = ratingtotal / i if i != 0 %>
            <% i.to_i.times do %>
            <i class="fa fa-star" aria-hidden="true"></i>
            <% end %>
            <% (5 - i.to_i).times do %>
            <i class="fa fa-star-o " aria-hidden="true"></i>
            <% end %>
            <%= @refuge.reviews.size %>  reviews<br><br>
            <p>Amazing shelter in <%= @refuge.address %></p>
            <h4><%= @refuge.day_price %> € per day per hiker</h4>
          </div>
          <div class="container-form">
          <div class="col-sm-8 col-xs-12" col-xs-12" id='form-card'>
            <% if @refuge.user == current_user %>
            <h3> Set Your Availabilities</h3>
            <%= render partial: 'availabilities/form', refuge: @refuge, url: refuge_availabilities_path(@refuge), method: :post %>
          <% else %>
            <h3>Book this Shelter </h3>
            <%= render partial: 'bookings/form', refuge: @refuge, url: refuge_bookings_path(@refuge), method: :post %>
          <% end %>
          </div>
          </div>


        </div>
      </aside>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div role="tabpanel" class="countryTabs">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#over-view" aria-controls="over-view" role="tab" data-toggle="tab" aria-expanded="false">Basic Infos</a>
          </li>
          <li role="presentation" class="">
            <a href="#tour-guide" aria-controls="tour-guide" role="tab" data-toggle="tab" aria-expanded="false">Reviews</a>
          </li>
            <li class="pull-right">
                <ul class="list-inline">
                  <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                </ul>
              </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="over-view">
            <div class="row">
              <div class="col-sm-8 col-xs-12">
                <div class="commonInfo">
                  <p><%= @refuge.description %></p>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="tour-guide">
            <div class="row">
              <div class="col-sm-8 col-xs-12 col-sm-offset-2">
                <% @refuge.reviews.each do |review| %>
                <div class="row_review">
                  <div class="col-md-3 text-center space-2">
                    <div class="avatar_review">
                      <% if user_signed_in? && current_user.facebook_picture_url %>
                      <%= image_tag current_user.facebook_picture_url, height: 70, width: 70 %><br><br>
                      <p><%= review.user.first_name %></p>
                      <%else%>
                      <img src="http://placehold.it/35x35" style="height: 70px; width: 70px;" ><br>
                      <% end %>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <div id="stars">
                      <% if review.rating != nil %>
                      <% review.rating.times do %>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <% end %>
                      <% (5 - review.rating).times do %>
                      <i class="fa fa-star-o" aria-hidden="true"></i>
                      <% end %>
                      <%end%>
                    </div>
                    <div id="content_review">
                      <%= review.content %>
                    </div>
                    <div id="delete-review">
                      <% if review.user == current_user && user_signed_in? %>
                      <%= link_to "Delete", refuge_review_path(@refuge, review), method: :delete, data: { confirm: "Are you sure?" }, :class => "btn btn-danger btn-xs" %>
                      <%end%>
                    </div>
                  </div>
                </div>
                <hr>
                <%end%>


                <hr></br></br>

                <div id="form-add-review">
                    <% if current_user && user_signed_in? && current_user.bookings != nil  %>
                      <%current_user.bookings.each do |booking| %>
                        <% if booking.status == 3 && booking.refuge.name == @refuge.name %>
                           <%= simple_form_for [@refuge, @review] do |f| %>
                              <%= f.input :reviewable_id, as: :hidden, input_html: { value: @refuge.id } %>
                              <%= f.input :reviewable_type, as: :hidden, input_html: { value: 'Refuge' } %>
                           <%= f.input :rating %>
                           <%= f.input :content %>
                           <%= f.submit "Add a new review", :class => "btn btn-primary" %>
                           <% end %>
                        <% end %>
                      <% end %>
                    <% end %>
               </div>
             </div>
           </div>
         </div>

</div>
</div>
</div>
</div>

            <div class="commonInfo">
              <div id="map" style="width: 100%; height: 600px;"></div>
              <% content_for(:after_js) do %>
              <%= javascript_tag do %>
              $(document).on('ready', function() {
              var handler = Gmaps.build('Google');
              handler.buildMap( { provider: { scrollwheel: false }, internal: { id: 'map' } }, function() {
              markers = handler.addMarkers(<%= raw @hash.to_json %>);
              handler.bounds.extendWith(markers);
              handler.fitMapToBounds();
              if (markers.length == 0) {
              handler.getMap().setZoom(2);
            } else if (markers.length == 1) {
            handler.getMap().setZoom(14);
          }
        });
      });
      <% end %>
      <% end %>
    </div>




<div class="row">
  <div class="col-xs-12">
    <div class="sectionTitle">
      <h2><span>Shelters in the Area</span></h2><br><br>
      <div class="row">
        <% @count = 0 %>
        <% @refuges.each do |refuge| %>
        <% if refuge.range == @refuge.range && refuge.name != @refuge.name && @count < 3 %>
        <% @count += 1 %>
        <div class="col-sm-4 col-xs-12">
          <div class="relatedItem">
            <%= cl_image_tag refuge.photo, height: 270, width: 360, crop: :fill %>
            <div class="maskingInfo">
              <h4><%=refuge.name%></h4>
              <%= link_to "View more", refuge, :class => "btn buttonTransparent"%>
            </div>
          </div>
        </div>
        <%end%>
        <%end%>
      </div>
    </div>
  </div>
</div>
</div>
</section>

<div class="text-center padded">
  <%= link_to 'Edit Your Shelter', edit_refuge_path(@refuge), class: "btn btn-success" %>
  <% if policy(@refuge).destroy? %>
  <td><%= link_to 'Destroy', refuge_path(@refuge), class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>
  <%= link_to 'Back To Our Catalog', refuges_path, class: "btn btn-success" %>
</div>






