<div class="form-container">
  <%= form_for @booking, url: refuge_bookings_path(@refuge), class: 'input-daterange input-group', id: 'datepicker' do |f| %>
    <div>
    <div class="col-xs-12 col-sm-6 col-lg-6">
      <%= f.text_field :start_day, id: 'dpd3', class: 'input-sm form-control', placeholder: 'check-in date'%>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-6">
      <%= f.text_field :end_day, id: 'dpd4', class: 'input-sm form-control', placeholder: 'check-out date'%>
    </div>
    </div>
    <br>
    <div><br>
        <div class="col-xs-12 col-sm-6 col-lg-10">
        <%= f.label :number_of_hikers %>
        <%= f.select :hikers_nb, (1..@refuge.capacity).to_a, class: ' form-control', placeholder: 'number of hikers' %>
        </div>
      <br>
      <br>
    <div class="col-xs-12 col-sm-6 col-lg-5">
      <% if current_user %>
       <%= f.submit :class => "btn btn-success" %>
       <%else %>
       <%= link_to 'Log In Before Booking', new_user_session_path, class: 'btn btn-primary' %>
      <%end %>
    </div>
<% end %>
</div>


<% content_for(:after_js) do %>
  <script>

    $(function () {
      var nowTemp = new Date();
      var availabilities = <%= raw available_days(@refuge) %>

      $('.input-sm').datepicker({
        beforeShowDay: function(date) {
          if (availabilities.includes(String(moment(date).format('L')))) {
            return true;
          } else {
            return false;
          }
        },
        format: 'dd/mm/yyyy',
        startDate: new Date(),
        autoclose: true,
      });

      $('#dpd3').datepicker()
        .on('changeDate', function(e) {
          $('#dpd4').datepicker('setStartDate', e.date);
        });
    });



  </script>
<% end %>
