
<section class="mainContentSection packagesSection">
  <div class="container">
    <% @bookings.each do |booking| %>
          <div class="row">
            <div class="col-sm-10 col-xs-12 col-sm-offset-1">
              <div class="row sidebarPage">
                <div class="col-xs-12">
                  <div class="media packagesList">
                    <a class="media-left fancybox-pop" href="img/packages/package-list-01.png">
                      <%= cl_image_tag(booking.refuge.photo, crop: :fill) %>
                    </a>
                    <div class="media-body">
                      <div class="bodyLeft">
                        <h4 class="media-heading"><a href="single-package-right-sidebar.html"><%= booking.refuge.name %></a></h4>
                        <div class="countryRating">
                          <span><%=booking.refuge.address%></span>
                          <ul class="list-inline rating">
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          </ul>
                        </div>
                        <ul class="list-inline detailsBtn">
                          <li><span class="textInfo"><i class="fa fa-calendar" aria-hidden="true"></i> <%= booking.start_day %></span></li>
                          <% days = (booking.end_day - booking.start_day).to_i %>
                          <li><span class="textInfo"><i class="fa fa-clock-o" aria-hidden="true"></i> <%=days%> Days</span></li>
                          <li><span class="textInfo"><i class="fa fa-male" aria-hidden="true"></i> <%= booking.hikers_nb %> Hikers</span></li>
                          <li><span class="textInfo"><%= booking.hikers_nb * booking.refuge.price * days unless booking.hikers_nb == nil %> €</span></li><br><br>
                          <% if booking.status == 2 %>
                            <% if booking.refuge.user == current_user %>
                              <%= link_to "Rejected", "", :class => "btn btn-danger" %>
                            <%else%>
                              <%= link_to "Rejected", "", :class => "btn btn-danger" %>
                            <%end%>
                          <%elsif booking.status == 1%>
                            <% if booking.refuge.user == current_user %>
                              <%= link_to "Accepted", "", :class => "btn btn-success" %>
                               <%= link_to "Not Paid Yet", "", :class => "btn btn-danger" %>
                            <%else%>
                              <%= link_to "Accepted", "", :class => "btn btn-success" %>
                              <%= link_to "Pay your order", new_refuge_booking_payment_path(booking.refuge, booking), :class => "btn btn-primary" %>
                            <%end%>
                          <%elsif booking.status == 0 %>
                            <% if booking.refuge.user == current_user %>
                              <%= link_to "Accept", accept_booking_path(booking), :class => "btn btn-success" %>
                              <%= link_to "Reject", reject_booking_path(booking), :class => "btn btn-danger" %>
                            <%else%>
                              <%= link_to "Not accepted yet", "", :class => "btn btn-danger" %>
                            <%end%>
                          <%else%>
                            <% if booking.refuge.user == current_user %>
                              <%= link_to "Payment Confirmed", "", :class => "btn btn-success" %>
                            <%else%>
                              <%= link_to "Payment Confirmed", "", :class => "btn btn-success" %>
                            <%end%>
                          <%end%>
                         </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
</section>
