<p id="notice"><%= notice %></p>

<p>
  <strong>Start day:</strong>
  <%= @booking.start_day %>
</p>

<p>
  <strong>End day:</strong>
  <%= @booking.end_day %>
</p>

<p>
  <strong>Hikers nb:</strong>
  <%= @booking.hikers_nb %>
</p>

<p>
  <strong>User:</strong>
  <%= @booking.user %>
</p>

<p>
  <strong>Refuge:</strong>
  <%= @booking.refuge %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
