
<div class="banner">
  <div class="banner-content">
    <h1>Home is where you dry your boots</h1>
    <br><%= link_to 'See All our Shelters', refuges_path , :class => "btn btn-success" %>
  </div>
</div>

<!-- SEARCH TOUR -->
<section class="darkSection">
  <div class="container">
    <div class="row gridResize">
      <form action="<%=refuges_path %>" class="">
        <div class="col-sm-3 col-xs-12">
          <div class="sectionTitleDouble">
            <p>Find</p>
            <h2>your <span>shelter</span></h2>
          </div>
        </div>
        <div class="col-sm-7 col-xs-12">
          <div class="row">
            <div class="col-sm-3 col-xs-12">
              <div class="searchTour">
                <select name="guiest_id2" id="guiest_id2" class="select-drop">
                  <option value="0">Mountain Range Destination</option>
                  <option value="1">Alpes</option>
                  <option value="2">Pyrenees</option>
                  <option value="3">Vosges</option>
                </select>
              </div>
            </div>
            <div class="col-sm-3 col-xs-12">
              <div class="input-group date ed-datepicker">
                <%= form_tag url_for(action: 'index', controller: 'refuges'), :id => 'search', :method => :get do %>
                <%= text_field_tag :search, params[:search], placeholder: "LOCATION"%>
                <div class="input-group-addon">
                <span class="fa fa-search"></span>
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-2 col-xs-12">
          <%= submit_tag "Search Shelter", :address => nil, class: "btn btn-success" %>
          <% end %>
        </div>
      </form>


    </div>
  </div>
</section>


    <!-- TOUR PACKAGES -->
    <section class="whiteSection">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="sectionTitle">
              <h2><span>A few hikings' suggestions</span></h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="filter-container isotopeFilters">
              <ul class="list-inline filter">
                <li><a href="#" data-filter=".pays">Alpes</a></li>
                <li><a href="#" data-filter=".vallee">Pyrénées</a></li>
                <li><a href="#" data-filter=".vosges">Vosges</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row isotopeContainer">
          <% @count = 0 %>
          <% @refuges.each do |refuge| %>
            <% if refuge.range == "Alpes" && @count < 3 %>
              <% @count += 1 %>
              <div class="col-sm-4 isotopeSelector pays" id="hiking">
                  <figure>
                    <%= cl_image_tag refuge.photo, height: 270, width: 360, crop: :fill %>
                    <h4><%=refuge.name%></h4>
                      <div id="refhiking">
                        <%= link_to "View more", refuge, :class => "btn buttonTransparent"%>
                        </div>
                     </figure>
                     </div>
                  <%end%>
              <%end%>
            <% @count = 0 %>
                  <% @refuges.each do |refuge| %>
                    <% if refuge.range == "Pyrénées" && @count < 3 %>
                      <% @count += 1 %>
                        <div class="col-sm-4 isotopeSelector vallee" id="hiking">
                            <figure>
                              <%= cl_image_tag refuge.photo, height: 270, width: 360, crop: :fill %>
                              <h4><%=refuge.name%></h4>
                              <div id="refhiking">
                                  <%= link_to "View more", refuge, :class => "btn buttonTransparent"%>
                              </div>
                            </figure>
                        </div>
                    <%end%>
                  <%end%>
            <% @count = 0 %>
                  <% @refuges.each do |refuge| %>
                    <% if refuge.range == "Vosges" && @count < 3 %>
                      <% @count += 1 %>
                        <div class="col-sm-4 isotopeSelector vosges" id="hiking">
                            <figure>
                              <%= cl_image_tag refuge.photo, height: 270, width: 360, crop: :fill %>
                              <h4><%=refuge.name%></h4>
                              <div id="refhiking">
                                  <%= link_to "View more", refuge, :class => "btn buttonTransparent"%>
                              </div>
                            </figure>
                        </div>
                    <%end%>
                  <%end%>
          </div>
    </section>
    <!-- BECOME HOST PARALLAX -->
    <section class="promotionWrapper">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="promotionTable">
              <div class="promotionTableInner">
                <div class="promotionInfo">
                  <h2>Open the doors of your Shelter</h2>
                  <p>Let them dry their boots</p>
                  <p></p>
                  <a <%= link_to 'Becom Host', new_refuge_path , :class => "btn btn-success" %></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- TOP DEALS -->
    <section class="mainContentSection packagesSection">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="sectionTitle">
              <h2><span class="lightBg">Our Shelters' Suggestions</span></h2>
              <p>-- Check  out some of our shelters --</p>
            </div>
          </div>
        </div>

        <section class="mainContentSection packagesSection">
          <div class="container">
            <div class="row">
              <% @sample = @refuges.sample(9) %>
              <% @sample.each do |refuge| %>
              <div class="col-sm-4 col-xs-12">
                <div class="thumbnail deals">
                  <%= cl_image_tag(refuge.photo,
                  width: 400, height: 300, crop: :fill) %>
                  <div class="discountInfo">
                    <ul class="list-inline rating homePage">
                     <% i = 0 %>
                      <% ratingtotal = 0 %>
                      <% refuge.reviews.each do |r| %>
                      <% i += 1 %>
                      <% ratingtotal += r.rating if r.rating != nil %>
                      <% end %>
                      <% i = ratingtotal / i if i != 0 %>
                      <% i.to_i.times do %>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <% end %>
                      <% (5 - i.to_i).times do %>
                      <i class="fa fa-star-o " aria-hidden="true"></i>
                      <% end %>
                    </ul>
                    <ul class="list-inline duration">
                      <li><%= refuge.altitude %> meters</li>
                      <li><%= refuge.capacity %> people</li>
                      <li><%= refuge.day_price%> €</li>
                    </ul>
                  </div>
                  <div class="caption">
                    <h4><%= refuge.name %></h4>
                    <h5><%= refuge.address %></h5>
                    <div class="detailsInfo">
                      <%= link_to 'More Info', refuge, :class => "btn btn-primary btn"%>
                    </div>
                  </div>
                </div>
              </div>
              <%end%>
            </div>
          </div>
        </div>
      </section>

    <section class="mainContentSection packagesSection">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="sectionTitle">
              <h2><span class="lightBg">They tried us</span></h2>
            </div>
          </div>
        </div>
      </div>
      </section>

      <section class="mainContentSection packagesSection">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-xs-12" id="triedus">
            <% if user_signed_in? && current_user.facebook_picture_url %>
                <%= image_tag current_user.facebook_picture_url, height: 150, width: 150, :class => "avatar-exp" %>
                <%else%>
                <img src="http://medias.mensquare.com/wp-content/uploads/sites/3/2015/09/10164858/facebook-anonymous-silhouette.png" style="height: 150px; width: 150px;" >
            <% end %>
          </div>
            <div class="col-sm-4 col-xs-12" id="triedus">
            <% if user_signed_in? && current_user.facebook_picture_url %>
                <%= image_tag current_user.facebook_picture_url, height: 150, width: 150, :class => "avatar-exp" %>
                <%else%>
                <img src="http://medias.mensquare.com/wp-content/uploads/sites/3/2015/09/10164858/facebook-anonymous-silhouette.png" style="height: 150px; width: 150px;" >
            <% end %>
          </div>
          <div class="col-sm-4 col-xs-12" id="triedus">
            <% if user_signed_in? && current_user.facebook_picture_url %>
                <%= image_tag current_user.facebook_picture_url, height: 150, width: 150, :class => "avatar-exp" %>
                <%else%>
                <img src="http://medias.mensquare.com/wp-content/uploads/sites/3/2015/09/10164858/facebook-anonymous-silhouette.png" style="height: 150px; width: 150px;" >
            <% end %>
          </div>
          </div>
        </div>
        </section>


    <section class="mainContentSection packagesSection">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="sectionTitle">
              <h2><span class="lightBg">Talking about us</span></h2>
            </div>
          </div>
        </div>
        </div>
        </section>


