
<div class="banner">
  <div class="banner-content">
    <h1>Home is where you dry your boots</h1>
    <h3> Book mountain shelters online in more than 25 countries</h3>
    <br><%= link_to 'See All our Shelters', refuges_path , :class => "btn btn-success" %>
  </div>
  <section class="darkSectionHome">
  <div class="container">
    <div class="row gridResize">
      <form action="<%=refuges_path %>" class="">
        <div class="col-sm-3 col-xs-12">
          <div class="sectionTitleDouble">
            <p>Find</p>
            <h2>your <span>shelter</span></h2>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="row">
            <div class="col-sm-6 col-xs-12">
              <div class="searchTour">
                <select name="guiest_id2" id="guiest_id2" class="select-drop">
                  <option value="0">Mountain Range</option>
                  <option value="1">Alpes</option>
                  <option value="2">Pyrenees</option>
                  <option value="3">Vosges</option>
                </select>
              </div>
            </div>
            <div class="col-sm-6 col-xs-12">
              <div class="input-group date ed-datepicker">
                <%= form_tag url_for(action: 'index', controller: 'refuges'), :id => 'search', :method => :get do %>
                <%= text_field_tag :search, params[:search], placeholder: "LOCATION"%>
                <div class="input-group-addon">
                <span class="fa fa-search"></span>
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12">
          <%= submit_tag "Search Shelter", :address => nil, class: "btn btn-success" %>
          <% end %>
        </div>
      </form>


    </div>
  </div>
</section>
</div>

<!-- SEARCH TOUR -->
   <!-- TOP DEALS -->
    <section class="mainContentSection packagesSection">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="sectionTitle">
              <h2><span class="lightBg">Our Shelters' Suggestions</span></h2>
              <p>-- Check  out some of our shelters --</p>
            </div>
          </div>
        </div>

        <section class="mainContentSection packagesSection">
          <div class="container">
            <div class="row">
              <% @sample = @refuges.sample(9) %>
              <% @sample.each do |refuge| %>
              <div class="col-sm-4 col-xs-12">
                <div class="thumbnail deals">
                  <%= cl_image_tag(refuge.photo,
                  width: 400, height: 300, crop: :fill) %>
                  <div class="discountInfo">
                    <ul class="list-inline rating homePage">
                     <% i = 0 %>
                      <% ratingtotal = 0 %>
                      <% refuge.reviews.each do |r| %>
                      <% i += 1 %>
                      <% ratingtotal += r.rating if r.rating != nil %>
                      <% end %>
                      <% i = ratingtotal / i if i != 0 %>
                      <% i.to_i.times do %>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <% end %>
                      <% (5 - i.to_i).times do %>
                      <i class="fa fa-star-o " aria-hidden="true"></i>
                      <% end %>
                    </ul>
                    <ul class="list-inline duration">
                      <li><%= refuge.altitude %> meters</li>
                      <li><%= refuge.capacity %> people</li>
                      <li><%= refuge.day_price%> €</li>
                    </ul>
                  </div>
                  <div class="caption">
                    <h4><%= refuge.name %></h4>
                    <h5><%= refuge.address %></h5>
                    <div class="detailsInfo">
                      <%= link_to 'More Info', refuge, :class => "btn btn-primary btn"%>
                    </div>
                  </div>
                </div>
              </div>
              <%end%>
            </div>
          </div>
        </div>
      </section>



    <!-- BECOME HOST PARALLAX -->
    <section class="promotionWrapper">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="promotionTable">
              <div class="promotionTableInner">
                <div class="promotionInfo">
                  <h2>Open the doors of your Shelter</h2>
                  <p>Let them dry their boots</p>
                  <p></p>
                  <a <%= link_to 'Becom Host', new_refuge_path , :class => "btn btn-primary" %></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

 <!-- TOUR PACKAGES -->
    <section class="whiteSection">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="sectionTitle">
              <h2><span>A few hikings' suggestions</span></h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="filter-container isotopeFilters">
              <ul class="list-inline filter">
                <li><a href="#" data-filter=".pays">Alpes</a></li>
                <li><a href="#" data-filter=".vallee">Pyrénées</a></li>
                <li><a href="#" data-filter=".vosges">Vosges</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row isotopeContainer">
          <% @count = 0 %>
          <% @hikings.each do |hiking| %>
            <% if hiking.range == "Alpes" && @count < 3 %>
              <% @count += 1 %>
              <div class="col-sm-4 isotopeSelector pays" id="hiking">
                  <figure>
                    <%= cl_image_tag hiking.photo, height: 270, width: 360, crop: :fill %>
                    <h4><%=hiking.name%></h4>
                      <div id="refhiking">
                        <%= link_to "View more", hiking, :class => "btn buttonTransparent"%>
                        </div>
                     </figure>
                     </div>
                  <%end%>
              <%end%>
            <% @count = 0 %>
                  <% @hikings.each do |hiking| %>
                    <% if hiking.range == "Pyrénées" && @count < 3 %>
                      <% @count += 1 %>
                        <div class="col-sm-4 isotopeSelector vallee" id="hiking">
                            <figure>
                              <%= cl_image_tag hiking.photo, height: 270, width: 360, crop: :fill %>
                              <h4><%=hiking.name%></h4>
                              <div id="refhiking">
                                  <%= link_to "View more", hiking, :class => "btn buttonTransparent"%>
                              </div>
                            </figure>
                        </div>
                    <%end%>
                  <%end%>
            <% @count = 0 %>
                  <% @hikings.each do |hiking| %>
                    <% if hiking.range == "Vosges" && @count < 3 %>
                      <% @count += 1 %>
                        <div class="col-sm-4 isotopeSelector vosges" id="hiking">
                            <figure>
                              <%= cl_image_tag hiking.photo, height: 270, width: 360, crop: :fill %>
                              <h4><%=hiking.name%></h4>
                              <div id="refhiking">
                                  <%= link_to "View more", hiking, :class => "btn buttonTransparent"%>
                              </div>
                            </figure>
                        </div>
                    <%end%>
                  <%end%>
          </div><br>
          <div class="row">
          <div class="col-xs-12 text-center">
               <%= link_to "Hikings Catalog", hikings_path, class: "btn btn-primary" %>
          </div>
        </div><br>
    </section>



    <section class="mainContentSection packagesSection">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="sectionTitle">
              <h2><span class="lightBg">They tried us</span></h2>
            </div>
          </div>
        </div>
      </div>
      </section>

      <section class="mainContentSection packagesSection">
      <div class="container">
        <div class="row">
          <div class="col-sm-3 col-sm-offset-1 col-xs-12 triedus">
            <%= cl_image_tag("http://cdn1.businessmanagementdaily.com/res/images/el_featured_profiles/Yvon-Chouinard.jpg", width: 150, height: 150, crop: :crop) %>
            <p><br> Yvon Chouinard, founder of Patagonia: "MyShelter.com is amazingly useful for the mountaineering enthusiasts"</p>
          </div>
            <div class="col-sm-3 col-sm-offset-1 col-xs-12 triedus">
            <%= cl_image_tag("http://cdn.programme-television.org/var/premiere/storage/images/tele-7-jours/diapos-tv/le-match-des-aventuriers-du-paf-mike-horn-vs-bear-grylls-4315961/les-exploits-bear-grylls/77700927-1-fre-FR/Les-exploits-Bear-Grylls_photo_full.png", width: 150, height: 150, crop: :fill) %>
            <p><br> Bear Grills "I am glad I knew this website, it's been of great help during my trip around the world!"</p>

          </div>
          <div class="col-sm-3 col-sm-offset-1 col-xs-12 triedus">
            <%= cl_image_tag("http://s2.lemde.fr/image/2013/09/24/534x0/3483702_4_7b6e_kilian-poste-regulierement-sur-son-compte_61a617305f7d995a6735b745dda83405.jpg", width: 150, height: 150, crop: :fill) %>
            <p><br> Kilian Jornet "MyShelter.com is the most convenient solution for a runner like me!"</p>
          </div>
          </div>
        </div>
        </section>



