
<div class="banner">
  <div class="banner-content">
    <h1>Home is where you dry your boots</h1>
      <br><%= link_to 'See All our Shelters', refuges_path , :class => "btn btn-success" %>
  </div>
</div>

    <!-- SEARCH TOUR -->
    <section class="darkSection">
      <div class="container">
        <div class="row gridResize">
          <div class="col-sm-3 col-xs-12">
            <div class="sectionTitleDouble">
              <p>Book</p>
              <h2>your <span>shelter</span></h2>
            </div>
          </div>
          <div class="col-sm-7 col-xs-12">
            <div class="row">
              <div class="col-sm-3 col-xs-12">
                <div class="searchTour">
                  <select name="guiest_id2" id="guiest_id2" class="select-drop">
                    <option value="0">Destinations</option>
                    <option value="1">USA</option>
                    <option value="2">UK</option>
                    <option value="3">Canada</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-3 col-xs-12">
                <div class="input-group date ed-datepicker" data-provide="datepicker">
                  <input type="text" class="form-control" placeholder="MM/DD/YYYY">
                  <div class="input-group-addon">
                      <span class="fa fa-calendar"></span>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 col-xs-12">
                <div class="input-group date ed-datepicker" data-provide="datepicker">
                  <input type="text" class="form-control" placeholder="MM/DD/YYYY">
                  <div class="input-group-addon">
                      <span class="fa fa-calendar"></span>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 col-xs-12">
                <div class="searchTour">
                  <select name="guiest_id3" id="guiest_id3" class="select-drop">
                    <option value="0">$1000 - $2000</option>
                    <option value="1">$1400 - $2000</option>
                    <option value="2">$1600 - $2000</option>
                    <option value="3">$1800 - $2000</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-2 col-xs-12">
            <a href="#" class="btn btn-block buttonCustomPrimary">Book</a>
          </div>
        </div>
      </div>
    </section>


    <!-- TOUR PACKAGES -->
    <section class="whiteSection">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="sectionTitle">
              <h2><span>A few hikings' suggestions</span></h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="filter-container isotopeFilters">
              <ul class="list-inline filter">
                <li><a href="#" data-filter=".pays">Pays du Mont Blanc</a></li>
                <li><a href="#" data-filter=".vallee">Vallée de la Romanche</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row isotopeContainer">
            <div class="col-sm-4 isotopeSelector pays">
              <article class="">
                <figure>
                  <%= image_tag('refugedupourri.jpg') %>
                  <h4>Vestibulum Tour</h4>
                  <div class="overlay-background">
                    <div class="inner"></div>
                  </div>
                  <div class="overlay">
                    <a class="fancybox-pop" href="single-package-fullwidth.html">
                    <div class="overlayInfo">
                      <h5>from <span>$399</span></h5>
                      <p><i class="fa fa-calendar" aria-hidden="true"></i>27 Jan, 2017</p>
                    </div>
                    </a>
                  </div>
                </figure>
              </article>
            </div>
            <div class="col-sm-4 isotopeSelector vallee">
              <article class="">
                <figure>
                  <%= image_tag('refugedupourri.jpg') %>
                  <h4>Maecenas Tour</h4>
                  <div class="overlay-background">
                    <div class="inner"></div>
                  </div>
                  <div class="overlay">
                  <a class="fancybox-pop" href="single-package-fullwidth.html">
                      <div class="overlayInfo">
                        <h5>from <span>$599</span></h5>
                        <p><i class="fa fa-calendar" aria-hidden="true"></i>09 Feb, 2017</p>
                      </div>
                    </a>
                  </div>
                </figure>
              </article>
            </div>
            <div class="col-sm-4 isotopeSelector asia america">
              <article class="">
                <figure>
                  <%= image_tag('refugedupourri.jpg') %>
                  <h4></h4>
                  <div class="overlay-background">
                    <div class="inner"></div>
                  </div>
                  <div class="overlay">
                    <a class="fancybox-pop" href="single-package-fullwidth.html">
                    <div class="overlayInfo">
                      <h5>from <span>$399</span></h5>
                      <p><i class="fa fa-calendar" aria-hidden="true"></i>11 Jan, 2017</p>
                    </div>
                    </a>
                  </div>
                </figure>
              </article>
            </div>
            <div class="col-sm-4 isotopeSelector america">
              <article class="">
                <figure>
                  <%= image_tag('refugedupourri.jpg') %>
                  <h4>Nullam Tour</h4>
                  <div class="overlay-background">
                    <div class="inner"></div>
                  </div>
                  <div class="overlay">
                    <a class="fancybox-pop" href="single-package-fullwidth.html">
                    <div class="overlayInfo">
                      <h5>from <span>$199</span></h5>
                      <p><i class="fa fa-calendar" aria-hidden="true"></i>02 Feb, 2017</p>
                    </div>
                    </a>
                  </div>
                </figure>
              </article>
            </div>
            <div class="col-sm-4 isotopeSelector africa asia">
              <article class="">
                <figure>
                  <%= image_tag('refugedupourri.jpg') %>
                  <h4>Hendrerit Tour</h4>
                  <div class="overlay-background">
                    <div class="inner"></div>
                  </div>
                  <div class="overlay">
                    <a class="fancybox-pop" href="single-package-fullwidth.html">
                    <div class="overlayInfo">
                      <h5>from <span>$799</span></h5>
                      <p><i class="fa fa-calendar" aria-hidden="true"></i>26 Feb, 2017</p>
                    </div>
                    </a>
                  </div>
                </figure>
              </article>
            </div>
        </div>
      </div>
    </section>
    <!-- BECOME HOST PARALLAX -->
    <section class="promotionWrapper">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="promotionTable">
              <div class="promotionTableInner">
                <div class="promotionInfo">
                  <h2>Open the doors of your Shelter</h2>
                  <p>Let them dry their boots</p>
                  <ul class="list-inline rating">
                    <li><i class="fa fa-home fa-2x" aria-hidden="true"></i></li>
                    <li><i class="fa fa-home fa-2x" aria-hidden="true"></i></li>
                    <li><i class="fa fa-home fa-2x" aria-hidden="true"></i></li>
                    <li><i class="fa fa-home fa-2x" aria-hidden="true"></i></li>
                    <li><i class="fa fa-home fa-2x" aria-hidden="true"></i></li>
                  </ul>
                  <p></p>
                  <a <%= link_to 'Becom Host', new_refuge_path , :class => "btn btn-success" %></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- TOP DEALS -->
    <section class="mainContentSection packagesSection">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="sectionTitle">
              <h2><span class="lightBg">Our Shelters' Suggestions</span></h2>
              <p>-- Check  out some of our shelters --</p>
            </div>
          </div>
        </div>

        <section class="mainContentSection packagesSection">
          <div class="container">
            <div class="row">
              <% @sample = @refuges.sample(3) %>
              <% @sample.each do |refuge| %>
              <div class="col-sm-4 col-xs-12">
                <div class="thumbnail deals">
                  <%= cl_image_tag(refuge.photo,
                  width: 400, height: 300, crop: :fill) %>
                  <a href="single-package-right-sidebar.html" class="pageLink"></a>
                  <div class="discountInfo">
                    <ul class="list-inline rating homePage">
                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    </ul>
                    <ul class="list-inline duration">
                      <li><%= refuge.altitude %>meters</li>
                      <li><%= refuge.capacity %>people</li>
                      <li><%= refuge.day_price%>€</li>
                    </ul>
                  </div>
                  <div class="caption">
                    <h4><a href="single-package-right-sidebar.html" class="captionTitle"><%= refuge.name %></a></h4>
                    <h5><%= refuge.address %></h5>
                    <div class="detailsInfo">
                      <br>
                      <%= link_to 'More About this Shelter', refuge, :class => "btn btn-primary btn"%>
                    </div>
                  </div>
                </div>
              </div>
              <%end%>
            </div>
          </div>
        </div>
      </section>
