<p id="notice"><%= notice %></p>

<h1>Hikings</h1>

<table>
  <thead>
    <tr>
      <th>Difficulty</th>
      <th>Range</th>
      <th>Description</th>
      <th>Picture</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hikings.each do |hiking| %>
      <tr>
        <td><%= hiking.difficulty %></td>
        <td><%= hiking.range %></td>
        <td><%= hiking.description %></td>
        <td><%= hiking.picture %></td>
        <td><%= link_to 'Show', hiking %></td>
        <% if policy(hiking).edit? %>
          <td><%= link_to 'Edit', edit_hiking_path(hiking) %></td>
        <% end %>
        <td><%= link_to 'Destroy', hiking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hiking', new_hiking_path %>
