
<p>
  <strong>Difficulty:</strong>
  <%= @hiking.difficulty %>
</p>

<p>
  <strong>Range:</strong>
  <%= @hiking.range %>
</p>

<p>
  <strong>Description:</strong>
  <%= @hiking.description %>
</p>

<p>
  <strong>Picture:</strong>
  <%= cl_image_tag @hiking.photo, height: 300, width: 400, crop: :fill %>

</p>

<%= link_to 'Back', hikings_path %> |

