<section class="mainContentSection">
      <div class="container">
        <div class="row progress-wizard" style="border-bottom:0;">

          <div class="col-sm-4 col-xs-12 progress-wizard-step complete col-sm-offset-2">
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="booking-1.html" class="progress-wizard-dot">
              <i class="fa fa-user" aria-hidden="true"></i>
              1. Personal Info and Payment
            </a>
          </div>


          <div class="col-sm-4 col-xs-12 progress-wizard-step active">
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="javascript:void(0)" class="progress-wizard-dot">
              <i class="fa fa-check" aria-hidden="true"></i>
              2. Confirmation
            </a>
          </div>
        </div>
        <div class="row bookingConfirmed">
          <div class="col-xs-12">
            <div class="alert alert-success alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">Dismiss</span></button>
              Thank you! Your booking is confirmed. Invoice Sent in your email address
            </div>
          </div>
          <div class="col-xs-12">
            <div class="infoTitle">
              <h2>Booking Details</h2>
            </div>
            <div class="confirmDetilas">
              <div class="col-sm-8">
              <%= cl_image_tag(@booking.refuge.photo, crop: :fill) %>
              </div>
              <div class="col-sm-4">

                <div class="row">
                 <div class="infoArea">
                  <h3><%= @booking.refuge.name %></h3>
                  <ul class="list-unstyled">
                    <li><i class="fa fa-calendar" aria-hidden="true"></i>From:  <span><%= @booking.start_day %></span></li>
                    <li><i class="fa fa-calendar" aria-hidden="true"></i>To:  <span><%= @booking.start_day %></span></li>
                    <li><i class="fa fa-user" aria-hidden="true"></i>Guests:  <span><%= @booking.hikers_nb %> Hikers</span></li>
                    <li><i class="fa fa-user" aria-hidden="true"></i>Price:  <span><%= @booking.amount %> €</span></li>
                  </ul>
                  <%= link_to 'Back to your bookings', my_bookings_path , :class => "btn btn-primary" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
