<p id="notice"><%= notice %></p>

<h1>Guides</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Picture</th>
      <th>Refuge</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @guides.each do |guide| %>
      <tr>
        <td><%= guide.name %></td>
        <td><%= guide.email %></td>
        <td><%= guide.phone %></td>
        <td><%= guide.picture %></td>
        <td><%= guide.refuge %></td>
        <td><%= link_to 'Show', guide %></td>
        <% if policy(guide).edit? %>
          <td><%= link_to 'Edit', edit_guide_path(guide) %></td>
        <% end %>
        <td><%= link_to 'Destroy', guide, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Guide', new_guide_path %>
