<div class="form-container">
  <%= form_for @availability, url: refuge_availabilities_path(@refuge), method: :post, class: 'input-daterange input-group datepicker', id: 'datepicker' do |f| %>
  <div>
    <div class="col-xs-12 col-sm-6 col-lg-6">
      <%= f.text_field :start_day, id: 'dpd1', class: 'input-sm form-control', placeholder: 'available from' %>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-6">
      <%= f.text_field :end_day, id: 'dpd2', class: 'input-sm form-control', placeholder: 'available until' %>
    </div>
    <div><br><br>
      <div class="col-xs-12 col-sm-6 col-lg-10">
        <%= f.number_field :capacity, class: 'form-control', placeholder: 'capacity of the shelter' %>
      </div>
    </div>
  </div>
  <div><br><br>
    <div class="col-xs-12 col-sm-6 col-lg-5">
      <%= f.submit :class => "btn btn-success" %>
    </div>
  </div>
  <% end %>
</div>


<% content_for(:after_js) do %>
  <script>
    $(function () {
      var nowTemp = new Date();
      var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
      $('.input-sm').datepicker({
        format: 'mm/dd/yyyy',
        startDate: new Date(),
        autoclose: true,
      });
      $('#dpd2').datepicker({
        format: 'mm/dd/yyyy',
        startDate: new Date(),
        autoclose: true,
      });
    });

  </script>
<% end %>
