<div class="text-center padded">
<h1>List of availabilities for <%= @refuge.name %></h1>
<% @refuge.availabilities.each do |availability| %>
  <div class="col-sm-6 col-xs-12 col-lg-6 col-sm-offset-3" id="card-availabilities">
    <h4><%= availability.refuge.name %></h4>
    Capacity: <%= availability.capacity %><br>
    Available From: <%= availability.start_day %><br>
    Until: <%= availability.end_day %>
    <br>
  </div>
  <br>
<%end%>
<br>
<br>
</div>
<br>
<div class="text-center padded">
  <%= link_to 'Back to Your Shelter', @refuge, class: "btn btn-success"%>
</div>
