<p id="notice"><%= notice %></p>

<p>
  <strong>Start day:</strong>
  <%= @availability.start_day %>
</p>

<p>
  <strong>End day:</strong>
  <%= @availability.end_day %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @availability.capacity %>
</p>

<p>
  <strong>Refuge:</strong>
  <%= @availability.refuge %>
</p>

<%= link_to 'Edit', edit_availability_path(@availability) %>
<%= link_to 'Back', availabilities_path %>
